.section {
  position: relative;
  background-image: url("/images/website__background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: var(--padding-section-320);
  margin-bottom: var(--margin-bottom-section-320);
}
.section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-section-itemS-320);
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-section-item-320);
  text-align: center;
}
.heading h2 {
  font-size: var(--size-section-title-320);
}
.content button {
  align-self: center;
}
.scroll-container {
  position: relative;
  width: 100%;
}
.gallery {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.images {
  width: max-content;
  display: flex;
  column-gap: var(--gap-section-item-320);
}
.actions {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}
.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--color-light-yellow);
  transition: var(--transition);
  width: 55px;
  height: 55px;
  font-size: 19px;
}
.actions button:hover {
  color: var(--color-black);
  background-color: var(--color-gold);
}

@media screen and (min-width: 576px) {
  .section__container {
    gap: var(--gap-section-itemS-576);
  }
  .content {
    row-gap: var(--gap-section-item-576);
    padding: 0px 24px;
  }
  .heading h2 {
    font-size: var(--size-section-title-576);
  }
  .scroll-container {
    position: relative;
    width: 100%;
  }
  .images {
    column-gap: var(--gap-section-item-576);
  }
  .actions {
    width: 90%;
    left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: var(--padding-section-768);
    margin-bottom: var(--margin-bottom-section-768);
  }
}

@media screen and (min-width: 992px) {
  .section {
    padding: var(--padding-section-992);
    margin-bottom: var(--margin-bottom-section-992);
  }
  .section__container {
    flex-direction: row;
  }
  .content {
    text-align: left;
    padding: 0;
    row-gap: var(--gap-section-item-992);
  }
  .content button {
    align-self: flex-start;
  }
  .heading h2 {
    font-size: var(--size-section-title-992);
  }
  .scroll-container {
    max-width: 57%;
  }
  .images {
    column-gap: var(--gap-section-item-992);
  }
  .actions {
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: var(--padding-section-1200);
    margin-bottom: var(--margin-bottom-section-1200);
  }
  .section__container {
    gap: var(--gap-section-itemS-1200);
  }
  .heading h2 {
    font-size: var(--size-section-title-1200);
  }
}

@media screen and (min-width: 1400px) {
  .section {
    padding: var(--padding-section-1400);
  }
}
