.section {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: var(--margin-bottom-section-320);
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.icon-circle {
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-gold);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.icon {
  width: 20px;
  height: 20px;
  color: var(--color-white);
  transform: var(--transition);
}
.icon-circle:hover {
  background-color: var(--color-light-yellow);
}
.icon-circle:hover .icon {
  color: var(--color-black);
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 576px) {
  .icon-circle {
    width: 80px;
    height: 80px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .icon-circle {
    width: 100px;
    height: 100px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 992px) {
  .icon-circle {
    width: 120px;
    height: 120px;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1400px) {
  .section {
    margin-bottom: 0;
  }
}
