@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-family-Cormorant: "Cormorant Upright", serif;
  --font-family-Open: "Open Sans", sans-serif;

  --line-height-title: 130%;
  --line-height-text: 175%;

  --transition: all 0.3s ease-out;

  --color-black: #0c0c0c;
  --color-white: #ffffff;
  --color-gold: #dcca87;
  --color-grey: #aaaaaa;
  --color-light-yellow: #f5efdb;
  --color-section-button: #0c0b08;
  --color-overlay-background: #040404;

  --margin-bottom-section-320: 64px;
  --margin-bottom-section-768: 80px;
  --margin-bottom-section-992: 104px;
  --margin-bottom-section-1200: 128px;
  --margin-bottom-section-1400: 150px;

  --padding-section-320: 24px 24px;
  --padding-section-768: 48px 24px;
  --padding-section-992: 72px 24px;
  --padding-section-1200: 96px 24px;
  --padding-section-1400: 120px 0px;

  --gap-section-itemS-320: 32px;
  --gap-section-itemS-576: 48px;
  --gap-section-itemS-1200: 64px;
  --gap-section-itemS-1400: 85px;

  --gap-section-item-320: 16px;
  --gap-section-item-576: 24px;
  --gap-section-item-992: 32px;

  --size-section-title-320: 42px;
  --size-section-title-576: 47px;
  --size-section-title-992: 52px;
  --size-section-title-1200: 64px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-black);
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay-background);
  opacity: 0.5;
}

.section__title-h2 {
  font-family: var(--font-family-Cormorant);
  font-weight: 600;
  line-height: var(--line-height-title);
  letter-spacing: 0.03em;
  color: var(--color-gold);
}
.section__text-p {
  font-family: var(--font-family-Open);
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height-text);
  letter-spacing: 0.04em;
  color: var(--color-grey);
}
